<% layout('layouts/boilerplate') %>


<div class="newcontainer">
  <h1  id="newformcompose">Article...</h1>
  
      <form id="newform" action="/post" method="post" enctype="multipart/form-data">
          <div class="newfrmcontent">
              <div class="title">
              
                  <input class="newfrmtitle" type="text" name="blog[title]" id="title" placeholder="Title" />
              </div>
              <div class="tagwrapper">
                  <div class="tagtitle">
                  <i class="ri-price-tag-3-fill"></i>
                  <label class="newfrmlbl" for="tagarray">Tags</label>
                  </div>
                  <div class="details">
                      <ul id="tagarray"  >
                         <div id="listcontainer">

                         </div>
                          <input id="taginput" placeholder="Max 5 Tags allowed"  name="tags"  type="text" spellcheck="false">
                      </ul>
                  </div>
                  <div class="addbtn">
                    <button  id="tagaddbtn" class="tagaddbtn" type="button">Add</button>
                  </div>
                  <div class="rmvbtn">
                  <button type="button">Remove All</button>
                  </div>
              </div>
              <div class="post">
                  
                  
                  <textarea class="newfrmpost" placeholder="Post"  name="blog[content]" id="post" cols="30" rows="15"></textarea>
              </div>
              <div class="filepicker">
                  <div class="newfrmlabel">
                      <i class="ri-image-add-fill"></i> 
                      <label class="newfrmimglbl" for="image">Cover Image</label>
                  </div>
                  <div class="mb-3 newfrmiginput">
                      <input style="font-size: 1rem;font-weight: 400;background-color: #edfbf6;border-radius: 12px;" class="form-control imageinput" type="file" id="formFile" name="image" required>
                  </div>
                  
              </div>
              <div class="newfrmbtn">
                  <button class="buttonSubmitter "  type="submit">Publish</button>
              </div>
          </div>   
  
      </form>
  
</div>



<script>
  const ul = document.getElementById("tagarray");
  const input = document.getElementById("taginput");
  const listcontainer=document.getElementById('listcontainer');
  const addtagbtn=document.getElementById("tagaddbtn");  
  
  
  
  
  let tags = [];
  

  document.getElementById("newform").addEventListener("submit",(event)=>{
    event.preventDefault();
    input.value=tags;
    document.getElementById("newform").submit();

  })




function createTag(){
    ul.querySelectorAll("li").forEach(li => li.remove());
    tags.slice().reverse().forEach(tag =>{
        let liTag = `<li class="taglist" name="list[${tags.indexOf(tag)}]" value="${tag}" ">${tag}<div class="tagicon"><i onclick="remove(this, '${tag}')" class="ri-close-line"></i></div> </li>`;
        listcontainer.insertAdjacentHTML("afterbegin", liTag);
    });
    
}

function remove(element, tag){
    let index  = tags.indexOf(tag);
    tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
    element.parentElement.parentElement.remove();
    
}

function addTag(event){
    if(event.key == "Enter" ){
      event.preventDefault();
        let tag = event.target.value;
        if(tag.length > 0 && !tags.includes(tag)){
            if(tags.length <=4){
              if(tag.split(',').length<=(5-tags.length)){

              
                tag.split(',').forEach(tag => {
                    tags.push(tag);
                    createTag();
                });
              }
            }
        }
        event.target.value = "";
    }
}
addtagbtn.addEventListener("click",(event)=>{
    console.log("helllo");
    console.log(event);
    console.log(input.value);
    event.preventDefault();
    
        let tag = input.value;
        if(tag.length > 0 && !tags.includes(tag)){
            if(tags.length <=4){
              if(tag.split(',').length<=(5-tags.length)){

              
                tag.split(',').forEach(tag => {
                    tags.push(tag);
                    createTag();
                });
              }
            }
        }
        input.value = "";
})




input.addEventListener("keydown", addTag);


const removeBtn = document.querySelector(".rmvbtn button");
removeBtn.addEventListener("click", () =>{
    tags.length = 0;
    listcontainer.querySelectorAll("li").forEach(li => li.remove());
    
});


// animation button 
var animateButton = function (e) {
    e.preventDefault;
    //reset animation
    e.target.classList.remove("animate");
    e.target.innerHTML = "";

    e.target.classList.add("animate");

    e.target.classList.add("animate");
    setTimeout(function () {
      e.target.classList.remove("animate");
    }, 200000);
  };

  var classname = document.getElementsByClassName("buttonSubmitter");

  for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener("click", animateButton, false);
  }


</script>
