


<footer>
  <div class="footercontainer">
    
    <div class="comany-data">
      
      <div class="logofooter">
        <a href="/"><img src="/images/ink-corner-high-resolution-logo-transparent-green.png" alt=""></a>
        <p>Where ideas meet pixels, a modern haven for tech enthusiasts to share their insights, code their narratives, and leave an indelible mark on the digital canvas of innovation. Elevate your tech discourse, embrace the future of blogging with creativity at the forefront</p>
      </div>
        
      <div class="authorlistsocialjoint">
        <p>Made with ❤️ by Dibya </p>
        <ul class="list-social-media">
          <li class="list-item">
            <a href="#" class="list-link">
              <i class="ri-instagram-line"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="list-link">
              <i class="ri-facebook-circle-line"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="list-link">
              <i class="ri-twitter-line"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="list-link">
              <i class="ri-pinterest-line"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <span class="copyrightcontent"><span class="copyrightlogo">&copy; </span> <%= new Date().getFullYear()%> INK CORNER. AllRights Reserved</span>
      </div>
     
         
    </div>
    
    <div class="links">
      <div class="insidelinks" >
        <h6 class="footer-title">Categories</h6>
        
        <ul class="footer-list ">
            <li class="list-item">
                <a href="#" class="list-link">Travel</a>
            </li>
            <li class="list-item">
                <a href="#" class="list-link">Food</a>
            </li>
            <li class="list-item">
                <a href="#" class="list-link">Technology</a>
            </li>
          
        </ul>

      </div>
      
      <div class="insidelinks">
          <h6 class=" footer-title">Topics</h6>
          
          <ul class="footer-list ">
              <li class="list-item">
                  <a href="#" class="list-link">Home</a>
              </li>
              <li class="list-item">
                  <a href="#" class="list-link">Elements</a>
              </li>
              <li class="list-item">
                  <a href="#" class="list-link">Tags</a>
              </li>
              
          </ul>

      </div>
      
      <div class="insidelinks">
          <h6 class=" footer-title">Company</h6>
          
          <ul class="footer-list ">
              <li class="list-item">
                  <a href="#" class="list-link">Terms </a>
              </li>
              <li class="list-item">
                  <a href="#" class="list-link">F.A.Q</a>
              </li>
              <li class="list-item">
                <a href="#" class="list-link">privacy </a>
            </li>
              
          </ul>

      </div>
    </div>
  
  </div>
</footer>
 


