

<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Dibya </p>
    <footer>©️ <%= new Date().getFullYear()%></footer>
  </div>
</div>
<script src="../../public/js/main.js"></script>
</body>
</html>
