
<header id="header">
        <nav class="container1 flex">
          
            <div class="logo flex">
              <a href="/"><h1 >INK CORNER</h1></a>

            </div>
            <div class="navlist flex">
              <ul class="flex">
               <li><a href="/">Home</a></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="/contact">Contact Us</a></li>
               <li><a href="/post/new"><button>✒️  Write</button></a></li>
              </ul>
            </div>
            
            <div class="searchuser">
            <div class="searchbar">
              <button type="button" class="searchbtn">
                <i class="ri-search-eye-fill"></i>
            </button>
              <div class="searchclick">
                <form action="/search/all" method="post">
                  <input type="text"  placeholder="🔍 search  for tags,people,articles"
                  name="search" class="form-control">
                
                  
                </form>
                
              </div>
              
              <% if (!currentUser) { %>
             <button><a href="/user/login">Sign in</a></button>
             <% } else{ %>
              
              <a  href=  "/user/<%=currentUser._id%>"><img src="<%= currentUser.avatar.thumbnail %>" alt="user avatar thumbnail"></a>
              <% } %>
              
            </div>
            
          </nav>
        </header >
          
    
        <script>
          const searchtoggle=document.querySelector('.searchclick');
const searchicon=document.querySelector('.searchbtn');

searchicon.addEventListener('click',()=>{
   console.log('hello');
   if(searchtoggle.style.display==='none'){
      searchtoggle.style.display='block';
   }else{
      searchtoggle.style.display='none';
   }
})
        </script>
        
        