<% layout('layouts/boilerplate')%>
<div class="error">
    <p class="error-heading"><%= err.message %></p>
    <% if(process.env.NODE_ENV!=="production") { %>
    <p class="error-content"><%= err.stack %></p>
    <% } %>
</div>