
<% layout('layouts/boilerplate') %>
<h1>HOME</h1>
<p><%= home_content %></p>
<!-- for(let i=0;i<added_content.length;i++){%>
<h3> added_content[i].title %></h3>
<p> added_content[i].text </p>
} -->
<!-- element is equivalrnt to added_content[i]/posts[i]/post obj -->
<h2> Blogs </h2>
<%- include('./partials/posts') %>
<div>
    <form action="/post/new" method="get">
        <button class="btn" >✒️ Compose </button>
    </form>


</div>
