@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* body{  margin:0; position:relative; } */
main {
  min-height: 100vh;
    /* position: relative; */
    padding: 0.75rem 0;
}


body {
  position: relative;

  padding-top: 5.2rem;

 overflow-y: scroll;
 scrollbar-color: rgb(247,248,248);
}
footer {
  width: 100%;
}

.container1 {
  margin: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  padding: 0.75rem;
  padding-right: 8px;
}

a {
  text-decoration: none;
  /* color: #1a5ff4; */
}
li {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header {
  min-height: 50px;
  background-color: rgb(247, 248, 248);
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  backdrop-filter: blur(10px);
  z-index: 1;
}
header.transparent {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Initial transparent background color */
}

/* navbar */

header nav {
  position: sticky;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
.logo a {
  text-decoration: none;
}
header .logo a img {
  height: 60px;
  width: 250px;
}
.navlist ul {
  gap: 40px;
  font-family: Noto Sans, sans-serif;
}
.navlist ul li a {
  font-size: 16px;
  color: #94a9c9;
  cursor: pointer;
  display: flex;
  font-size: larger;
  text-decoration: none;
}
.navlist button {
  color: white;
  background-color: #41907a;
  border: none;
  border-radius: 2.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.navlist ul li a:hover {
  color: #41907a !important;
}

.searchbarjoint {
  display: flex;
  gap: 10px;
}
.searchform {
  display: flex;
  gap: 5px;
}
.searchform input {
  width: 300px;
  outline: 0;
}
.searchform button {
  border: none;
  background: transparent;
  font-size: 1.75rem;
}
.searchform button i {
  font-size: 35px;
  color: gray;
}

.signinusernavbar a button {
  border: none;
  background-color: #41907a;
  color: white;
  border-radius: 2rem;
  outline: none;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.signinusernavbar a button:hover {
  box-shadow: 0 0 8px 0 #41907a;
}
.signinusernavbar button i {
  position: relative;
  top: 3px;
}
.searchInput {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5rem;
  color: gray;
}
.searchBtn {
  font-size: 2rem;
}

.searchbar i {
  font-size: 30px;
}
.searchbar button {
  background-color: transparent;
}
.searchbtn i {
  color: #6458d5;
}
.menuicon{
  display: none;
}

.closeicon{
  display: none;
}

.mobileusername{
  display: none;
}

.menuicon i,
.closeicon i{
  font-size: 2rem;
}

@media (max-width:950px) {
  .container1{
    flex-direction: column;
    z-index: 200;
    background-color: white;
    box-shadow: 0 0 10px 0 gray;
    position: absolute;
    top:-400px;
    gap: 1rem;
    padding: 1rem;
  }

  .searchbarjoint{
    flex-direction: column;
    align-items: center;
  }

  .menuicon{
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .closeicon{
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .searchform input{
    background-color: rgb(247, 248, 248);
  }

  .mobileusername{
    display: inline;
    color: #000000;
    font-size: 1rem;
  }
}
@media (max-width:950px) {
  .logomobile{
    position: absolute;
    z-index: 500;
    top: 400px;
    transform: scale(0.9);
    left: 9px;
    
  }
  header{
    padding-bottom: 3.85rem;
  }
}


/* footer */
@media (max-width:1050px) {
  .footercontainer{
    margin: 2rem;
  }
  
}
@media (max-width:450px) {
  .footercontainer{

    margin: 1rem;
  }
}
.footercontainer {
  margin: 2.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 3px solid #e8e8e8;
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  /* padding:10px 24px 10px 10px; */
  overflow: hidden;
  position: relative;
  text-align: justify;
}

.comany-data,
.links {
  z-index: 1;
  flex: 1;
}
.footercontainer .links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
}
.list-social-media {
  display: flex;
  gap: 5px;
}
.insidelinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.insidelinks h6 {
  font-size: 1.2rem;
  color: #41907a;
}
.insidelinks a {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
}

.logofooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}
.authorlistsocialjoint p {
  font-size: 1.2rem;
  /* color: #fcfcfc; */
  font-weight: 400;
  margin-bottom: 0;
}
.logofooter p {
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}
.list-social-media {
  display: flex;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
}
.list-social-media a {
  text-decoration: none;
}
.list-social-media a i {
  font-size: 25px;
  color: #41907a;
}
.logofooter img {
  height: 60px;
  width: 250px;
}
.copyrightcontent {
  font-weight: 450;
  font-size: 1rem;
}
.copyrightlogo {
  font-size: 22px;
  position: relative;
  top: 2px;
  font-weight: 500;
}
.footercontainer ul {
  padding-left: 0;
}

@media (max-width:950px) {
  .footercontainer .links{
    /* flex-direction: column-reverse;
    gap: 1rem; */
    display: none;
  }
}

/* sign in */
.authcontainer {
  display: flex;
}
.registercontainer,
.logincontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 14px;
}
.existingusercontainer,
.newusercontainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(33, 207, 186),
    rgb(21, 174, 130),
    rgb(153, 233, 99)
  );
  border-radius: 45px;
}
.existinguser p,
.newuser p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.existinguser h1,
.newuser h1 {
  text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
.existingsigninbtn,
.newsignupbtn {
  display: flex;
  justify-content: center;
}
.existingsigninbtn button,
.newsignupbtn button {
  padding: 0.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  width: 200px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  color: black;
  transition: all 0.2s ease-in-out;
}
.newuser .desc,
.existinguser .desc {
  margin-top: 15px;
  margin-bottom: 40px;
}
.newuser .desc p,
.existinguser .desc p {
  font-weight: 400;
}

.connection {
  font-size: 17px;
  font-weight: 400;
  color: rgb(118, 120, 120);
  margin: 8px;
}
.logo {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.logowrapper img {
  height: 2.3rem
}
.githublogo img {
  height: 2.7rem;
  position: relative;
  top: -1.4px;
}
.googlelogo {
  margin-top: 2px;
}

.registerform,
.loginform {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 25px;
}
.registercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding-right: 0;
}
.registerbox,
.loginbox {
  display: flex;
  gap: 0.5rem;
  margin: 10px;
  margin-left: 0;
}
.registerbox i,
.loginbox i {
  font-size: 1.3rem;
  margin-top: 0.4rem;
}
.registerboxinput,
.loginboxinput {
  display: flex;
  position: relative;
}
.registerboxinput i,
.loginboxinput i {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
}
.registerinput,
.logininput {
  border-radius: 12px;
  padding: 0.4rem 2.5rem 0.4rem 0.5rem;
  outline: none;
  border: none;
  background-color: rgb(218, 244, 236);
  font-size: 1.2rem;
  /* padding-right: 42px; */
  width: 265px;
}
.emailinput {
  padding-right: 1.3rem;
}

.registerinput::placeholder,
.logininput::placeholder {
  font-size: 18px;
  font-weight: 400;
}
.login_check {
  text-align: right;
    padding-right: 8px;
    margin-bottom: 1.5rem;
}
.login_check a {
  text-decoration: none;
  font-size: 1rem;
}

.register_btn,
.login_btn {
  display: flex;
  justify-content: center;
}
.register_btn {
  margin-top: 18px;
}
.registerbtn,
.loginbtn {
  background-color: rgb(7, 184, 45);
  border: none;
  padding: 0.3rem;
  margin: 2px;
  border-radius: 18px;
  color: rgb(247, 247, 247);
  font-size: 1.2rem;
  font-weight: 500;
  width: 10rem;
  cursor: pointer;
}

.registertitle,
.logintitle {
  text-align: center;
  /* margin-bottom: 10px; */
  color: rgb(1, 173, 44);
  font-size: 2rem;
  font-weight: 700;
}
.logintitle{
  font-size: 2.3rem;
}

.mobileswitch{
  display: none;
}

@media (max-width:950px) {
  .existingusercontainer, .newusercontainer{
    display: none;
  }

  .mobileswitch{
    display: block;
  }
}

/*        new form     */

.newcontainer #newformcompose {
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  color: #03bb0d;
  font-weight: 700;
}
.newfrmcontent input,
textarea {
  color: rgb(69, 67, 67);
}
#newform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.newfrmcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
.newfrmcontent .title input,
.newfrmcontent .tagwrapper input,
.newfrmcontent .post textarea,
.newfrmcontent .filepicker input {
  width: 100%;
}
.newfrmtitle {
  border: none;
  outline: none;
  width: 700px;
  padding: 1.5rem 0.75rem;
  padding-left: 1.2rem;
  font-size: 1.2rem;
  background: #edfbf6;
  border-radius: 25px;
  font-weight: 600;
  color: #474545;
}
.newfrmpost {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.5rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 25px;
  background: #edfbf6;
  font-weight: 600;
  color: #474545;
}
.tagtitle {
  font-size: 1.5rem;
  padding-top: 10px;
  width: 100%;
}
.tagtitle i {
  color: #fc8626;
}
.tagwrapper .details {
  width: 100%;
}

#taginput {
  width: 100%;
  padding: 1.2rem;
  margin: 0;
  margin-top: 0.65rem;
  border: none;
  outline: none;
  background-color: #edfbf6;
  border-radius: 25px;
  font-size: 1.2rem;
}

#tagarray {
  padding-left: 0;
  width: 100%;
}
#listcontainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-right: 0;
}
.taglist {
  display: flex;
  font-size: 1.35rem;
  background-color: #41a867;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  gap: 8px;
  color: white;
  border-radius: 12px;
}
.tagicon {
  background-color: white;
  margin-top: 0.35rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  width: 20px;
  justify-content: center;
  height: 20px;
  padding: 0.5rem;
  font-size: 1rem;
}
.tagicon i {
  color: #080808;
  cursor: pointer;
  font-weight: 600;
}

.rmvbtn {
  display: flex;
  justify-content: end;
  padding-right: 18px;
  margin-top: 0.5rem;
}
.rmvbtn button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  background: #00731e;
  cursor: pointer;
  font-weight: 600;
  color: white;
}
.filepicker {
  display: flex;
  flex-direction: column;
}
.newfrmlabel {
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.newfrmlabel i {
  color: #9c07f9;
}
.imageinput {
  width: 700px;
  font-size: 200px;
  border: none;
  outline: none;
}
.newfrmbtn {
  display: flex;
  justify-content: center;
}
.newfrmbtn button {
  width: 800px;
  border: none;
  padding: 0.65rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  background: #41a867;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

@media (max-width: 1050px) {
  .newfrmcontent {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .newfrmcontent {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .newfrmcontent {
    width: 90%;
  }
}

/* Add your existing CSS styles and then include the following */

.profile-container {
  display: flex;
}

.profile-avatar img {
  max-width: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 20px;
}

.follower-info {
  display: flex;
  margin-top: 10px;
}

.follow-button {
  margin-top: 10px;
}

.about-me {
  margin-top: 20px;
}

.posts-section {
  margin-top: 20px;
}

.posts-section .post {
  margin-bottom: 10px;
}

.user-actions {
  margin-top: 20px;
}

.user-actions button {
  display: block;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.user-actions a {
  color: #fff;
  text-decoration: none;
}

.editprofileformcontainer {
  display: flex;
  justify-content: center;
  /* height: 100vh;
  align-items: center; */
}
#updateprofileform {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 1.2rem;
  position: relative;
}
.updateprofileforminputs{
  width: 100%;
}

#updateprofileform label {
  margin: 0.4rem 0;
  font-size: 1.1rem;
}

#updateprofileform input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#updateprofileform button {
  background-color: #4caf50;
    color: #fff;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
   
}

#updateprofileform span {
  color: red;
  display: none;
  margin-top: 8px;
}
@media (max-width:950px) {
  #updateprofileform{
    width: 75%;
  }
}
@media (max-width:500px) {
  #updateprofileform{
    width: 90%;
  }
}


/*              profile page         */

.avatar img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 0 0 20px 0 #dbdbdb;
}
.profilecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.profiledesc {
  display: flex;

  gap: 12px;
}
.avatar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.authordesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.authordetails {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.editprofilebtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* right: 250px; */
}
.username {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.tagline {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(71, 74, 71);
}
.editprofilebtn button {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(36, 215, 155);
  border-radius: 30px;
  padding: 5px 15px;
  color: rgb(69, 70, 69);
  width: 100%;
}
.editprofilebtn button i {
  position: relative;
  top: 3px;
  margin-right: 4px;
}
.subscription {
  display: flex;
  justify-content: space-between;
}
.subscnt {
  display: flex;
  gap: 40px;
}

.followercnt h4,
.followingscnt h4 {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.followercnt p,
.followingscnt p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: rgb(85, 88, 85);
}
.followbtn button {
  font-size: 1.3rem;
  padding: 0px;
  padding-bottom: 4px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: rgb(65 144 122);
  color: rgb(248, 250, 251);
  margin-bottom: 5px;
  width: 100%;
}
.followbtn button i {
  position: relative;
  top: 3px;
  margin-right: 4px;
}
.unfollow button {
  background-color: rgba(39, 174, 84, 0.194);
  border: 2px solid rgb(65 144 122);
  color: rgb(65 144 122);
  font-weight: 600;
  box-shadow: inset 0 0 4px 0px rgb(65 144 122);
}
.profiledetails {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  margin: 2px 8px;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px 0 #f7f7f7;
  border-radius: 1rem;
}
.social {
  display: flex;
  gap: 12px;
}
.social a {
  text-decoration: none;
}
.social a i {
  font-size: 1.75rem; 
  color: rgb(86, 85, 85);
}
.social .insta i:hover {
  color: rgb(216, 35, 141);
  /* linear-gradient(to bottom left,rgb(158, 36, 234),rgb(221, 33, 55)); */
}
.social .linkedin i:hover {
  color: rgb(0 118 179);
}
.social .github i:hover {
  color: black;
}
.location,
.joiningdate {
  display: flex;

}
.location i,
.joiningdate i {
  font-size: 25px;
  color: rgb(85, 88, 85);
  margin-right: 5px;
}
.location p,
.joiningdate p {
  font-size: 1.2rem;
  position: relative;
  top: 0.4rem;
  color: rgb(122, 124, 122);
}

.authorsposts {
  margin-top: 12px;
}
.aboutjoint {
  display: flex;
  gap: 1.2rem;
  align-items: stretch;
  width: 100%;
}
.aboutjoint .about {
  flex: 1;
  box-shadow: 0 0 20px 0 #dbdbdb;
  border-radius: 0.75rem;
}
.abtauthor {
  /* border: 0.3px solid black; */
  padding: 6px 14px;
  margin: 10px;
  border-radius: 8px;
  margin-bottom: 0;
  /* height: 100%; */
}
.abtauthor h3 {
  text-align: center;
  font-size: 1.5rem;
}
.abtauthor p {
  text-align: justify;
  text-align: center;
}
#notupdate {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(98, 98, 98);
}
.aboutjoint .posts {
  flex: 2;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 0;
  box-shadow: 0 0 20px 0 #dbdbdb;
}
.aboutjoint .posts .posttitle {
  text-align: center;
  font-size: 1.5rem;
}
.nopost {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(117, 117, 115);
}
.postconatiner {
  display: flex;
  flex-direction: column;
}
.eachpost {
  display: flex;
  justify-content: space-between;
  /* border: 0.3px solid black; */
  padding: 4px 8px;
  border-radius: 8px;
  margin: 8px;
}
.eachpost h3 {
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.eachpost p {
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  top: 3px;
}
.eachpost a {
  text-decoration: none;
  color: rgb(15, 137, 231);
  font-size: 1.2rem;
}
.aboutjoint .about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}
.profilecomposebtn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  background-color: rgb(9, 245, 194);
  font-size: 22px;
  font-weight: 500;
  color: rgb(78, 80, 80);
}
.profileoptions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 80px;
}
.profileoptions a {
  text-decoration: none;
  color: rgb(65 144 122);
  font-size: 25px;
  font-weight: 500;
}
.hello {
  width: 100%;
}
.profileoptions .hello {
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0.45rem;
  text-align: center;
  border: 2px solid rgb(65 144 122);
}
.profilelogout {
  border-radius: 2rem;
  padding: 0.45rem;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid rgb(245, 92, 92);
  color: rgb(245, 92, 92);
}
.profilelogout i {
  position: relative;
  top: 4px;
}
.deleteacnt {
  width: 100%;
}
.deleteacnt button {
  width: 100%;
    height: 3.2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0.45rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: rgb(241, 35, 35);
}
.deleteacnt button i {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

@media (max-width: 1150px) {
  .authordesc {
    align-items: center;
  }

  .profiledetails {
    flex-direction: column;
    align-items: center;
  }
  .profiledetails p {
    margin-bottom: 0;
  }

  .aboutjoint {
    flex-direction: column;
  }

  .avatar img {
    height: 120px;
    width: 120px;
  }

  .profiledesc {
    flex-direction: column;
  }

  .editprofilebtn, .followbtn {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .profile {
    width: 75%;
  }

  .eachpost {
    flex-direction: column;
  }

  .eachpost p {
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  .profile {
    width: 85%;
  }
}

@media (max-width: 470px) {
  .profile {
    width: 95%;
  }
}

/* change password form */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form-container span.error-message {
  color: red;
  display: none;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

/* post card profile card tag card */

.homepostcontainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 25px;
  width: 65%;
  margin: 0 auto;
  padding: 20px 0;
}

.postcard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0.4px solid rgb(222, 222, 222);
  border-radius: 12px;
  padding: 8px 22px;
  padding-bottom: 4px;
}
.postauthor {
  display: flex;
  gap: 0.6rem;
  padding-left: 6px;
}
.postauthorimg img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  top: 0.25rem;
}
.postauthornamejoint a {
  text-decoration: none;
}

.postauthornamejoint .authorname {
  margin: 0;
  margin-top: 7px;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
.postauthornamejoint .date {
  margin: 0;
  position: relative;
  font-size: 0.75rem;
  font-weight: 400;
}
.postdetails {
  display: flex;
  gap: 8px;
  margin: 8px 10px;
}
.postthumbnail img {
  width: 7.3rem;
  border-radius: 15px;
  object-fit: contain;
}
.postcard a {
  text-decoration: none;
}
.titledetailsjoint h3 {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}

.titledetailsjoint p {
  font-size: 1rem ;
  line-height: normal;
  color: rgb(108, 110, 109);
  font-weight: 400;
}
.postoptions {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
}
.postimpressions {
  display: flex;
  gap: 14px;
}
.postimpressions p {
  font-size: 1rem;
  color: #919191;
  font-weight: 600;
}
.postimpressions i {
  position: relative;
  top: 3px;
  font-size: 20px;
}
.cardbkmrk button {
  position: relative;
  right: 25px;
  border: none;
  background: transparent;
}
.cardbkmrk button i {
  font-size: 28px;
}
.profilecardsearch {
  display: flex;
  gap: 10px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 #e0e0e0;
}
.tagcardsearch {
  padding: 7px 14px;
  border-radius: 29px;
}
.tagcardsearch:hover {
  box-shadow: 0px 1px 2px 0px #989898;
}
.profilecardsearch .avatarimg img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profilecardsearch .avatartitle a {
  text-decoration: none;
}
.profilecardsearch .avatartitle h4 {
  color: rgb(62, 61, 61);
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.tagcardsearch {
  padding-top: 5px;
}
.tagcardsearch p {
  margin: 0;
  font-size: 1.65rem;
  color: rgb(62, 61, 61);
}
.tagcardsearch i {
  position: relative;
  top: 3px;
}
.tagcardsearch a {
  text-decoration: none;
  font-size: 25px;
}

.bookmarkpagetitle,
.nopostsearchpage,
.tagsearchpage,
.userprofilesearchpage,
.allsearchpage,
.bytagsearch {
  text-align: center;
  margin: 40px;
  color: #7e7e7e;
  font-size: 3rem;
}
/* .allsearchpage{
  margin: 0;

} */

@media (max-width: 1050px) {
  .homepostcontainer {
    width: 75%;
  }
}

@media (max-width: 850px) {
  .homepostcontainer {
    width: 85%;
  }

  .postdetails {
    flex-direction: column;
  }

  .postthumbnail {
    display: flex;
    justify-content: center;
  }

  .postthumbnail img {
    height: 140px;
    width: 300px;
    object-fit: cover;
  }
}

@media (max-width: 650px) {
  .homepostcontainer {
    width: 95%;
  }
}

/* individual post */

.individualpost {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.individualpost .postcomments {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
}
.individualpost .postcomments h2 {
  text-align: left;
  position: relative;
  left: 10px;
  font-size: 1.8rem;
  color: rgb(72, 71, 71);
}
.individualpost .postcomments h2 i {
  position: relative;
  top: 5px;
  color: #40917a;
  font-size: 28px;
}
.individualpost .commentbar {
  padding: 4px;
}

.individualpost .commentinput textarea {
  width: 98%;
  padding: 12px;
  outline: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #393939;
  resize: none;
}
.individualpost .cmntsubbtn {
  display: flex;
  justify-content: end;
}
.individualpost .commentform button {
  margin: 10px;
  border: 3px solid #40917a;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #40917a;
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  /* transition: all 0.2s ease-in-out; */
}
.individualpost .commentform button:hover {
  box-shadow: 0 4px 10px 0 #777777;
}
.individualpost .commentcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-top: 5px;
  margin-left: 0;
  padding-left: 0;
}
.individualpost .commentcard {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid rgb(210, 207, 207);
  padding: 6px;
  border-radius: 8px;
}
.individualpost .commentauthordatejoint {
  display: flex;
  flex-direction: column;
}
.individualpost .commentauthor {
  display: flex;
  gap: 5px;
  margin-bottom: 0.25rem;
}
.individualpost .commentauthor a {
  text-decoration: none;
}
.individualpost .commentauthor h4 {
  font-size: 17px;
  margin-bottom: 0;
  color: rgb(70, 71, 71);
  position: relative;
  top: 0.35rem;
}
.individualpost .date h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(84, 84, 84);
  position: relative;
  left: 5px;
}
.individualpost .commentbody {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.individualpost .commentbody .body p {
  text-align: justify;
  font-weight: 400;
  color: rgb(76, 77, 77);
  margin-bottom: 0;
}
.individualpost .cmntdlt {
  display: flex;
  justify-content: end;
}
.individualpost .CmntDltbBtn {
  border: none;
  padding: 6px 12px;
  border-radius: 0.85rem;
  font-size: 14px;
  font-weight: 300;
  background-color: rgb(244, 115, 115);
  cursor: pointer;
  color: rgb(254, 255, 255);
  margin: 0;
}
.individualpost .CmntDltbBtn:hover {
  background-color: rgb(237, 67, 67);
}

.individualpost .postcontainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  /* border: 1px solid rgb(192, 189, 189); */
  border-radius: 1rem;
  box-shadow: 0 0 20px 0 #cccccc;
}

.individualpost .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.individualpost .titleauthorjoint {
  display: flex;
  flex-direction: column;
}
.individualpost .posttitle h1 {
  text-align: justify;
  font-weight: 700;
}
.individualpost .autordatejoint {
  display: flex;
  flex-direction: column;
}
.individualpost .author {
  display: flex;
  gap: 0.4rem;
}
.individualpost .author a {
  text-decoration: none;
}
.individualpost .author p {
  font-size: 1.2rem;
  position: relative;
  top: 8px;
  font-weight: 600;
  color: rgb(72, 71, 71);
}
.individualpost .author p:hover {
  color: rgb(61, 126, 188);
}
.individualpost .datetagjoint {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.individualpost .date {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}
.individualpost .date p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(79, 79, 80);
  margin: 0;
}

.individualpost .posttagcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
.individualpost .tagcard button {
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  border: 3px solid transparent;
  border-radius: 38px;
  background: #41907a;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.individualpost .tagcard button:hover {
  background: transparent;
  color: #40917a;
  border: 3px solid #40917a;
}

.individualpost .authoravatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.individualpost .avtarcmnt {
  height: 23px;
  width: 23px;
}
.individualpost .postimg {
  margin: 5px auto;
  /* width: 100%; */
}
.individualpost .postdetails {
  text-align: justify;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(97, 98, 99);
   
}

.individualpost .postcontainer {
  position: relative;
}
.individualpost .sticky_options {
  bottom: 5%;
}
.individualpost .options {
  display: none;
  background: rgb(255 255 255);
  display: flex;
  /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 50px;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 5px 10px 0px #8b8b8b;
  width: fit-content;
  margin: 0 auto;
  position: sticky;
  left: 0;
}
.individualpost .options button {
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: none;
  
  cursor: pointer;
}
.individualpost .options button i {
  font-size: 1.4rem;
  
}
.individualpost .like button {
  font-size: 1.4rem;
  font-weight: 500;
}


.individualpost .commentcontainer h3 {
  font-size: 1.3rem;
  text-align: justify;
  font-weight: 600;
  color: rgb(89, 89, 90);
}

.individualpost .postcoverimg {
  height: 400px;
  object-fit: contain;
  border-radius: 1rem;
  max-width: 100%;
}

@media (max-width: 1150px) {
  .individualpost {
    flex-direction: column;
  }

  .individualpost .datetagjoint {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 650px) {
  .individualpost {
    padding: 2rem 1rem;
  }
}

.editcontainertitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
  color: #41a867;
}
.homesuggestioncont {
  display: flex;
  justify-content: center;
  gap: 8px;
  /* margin-top: 2rem; */
}
.homesuggestioncont button {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  border-radius: 2rem;
  padding: 0rem 1.1rem 0.5rem;

  color: #626060;
}

.homesuggestioncont button:hover,
.homeallsuggestion button,
.followingfollowersuggestion button {
  background: #d5f3d9;
}

.homesuggestioncont button i {
  font-size: 1.3rem;
  position: relative;
  top: 3.5px;
}

:root {
  --button-width: 150px;
  --btn-width: 85px;
  --butn-width: 100px;
  --spinnercmnt-width: calc(var(--btn-width) / 6);
  --spinnerupdateprofile-width: calc(var(--butn-width) / 6);
  --spinner-width: calc(var(--button-width) / 6);
  --blue: #0076d3;
  --btn-bg: #8bc34a;
  --text-light: #fefefe;
}

.buttonSubmitter {
  display: inline-block;
  min-width: var(--button-width);
  margin: 20px auto;
  background: var(--btn-bg);
  color: var(--text-light);
  font-size: 1.2em;
  padding: 1em;
  border-radius: 4px;
  text-align: center;
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  transition: all ease-in-out 0.2s, width ease-in-out 0.2s;
}
.newbtnsubmitter {
  transition: all ease-in-out 0.4s, width ease-in-out 0.4s;
}
.cmntdltbtnsubmitter {
  min-width: var(--btn-width);
}
.profileupdatebtnsubmitter {
  min-width: var(--butn-width);
}

.buttonSubmitter:focus {
  outline: 0;
}

.buttonSubmitter.animate {
  width: calc(var(--button-width) / 2.2);
  height: calc(var(--button-width) / 2.2);
  min-width: 0;
  border-radius: 50%;
  color: transparent;
}
.cmntdltbtnsubmitter.animate {
  width: calc(var(--btn-width) / 2.2);
  height: calc(var(--btn-width) / 2.2);
}
.profileupdatebtnsubmitter.animate {
  width: calc(var(--butn-width) / 2.2);
  height: calc(var(--butn-width) / 2.2);
}

.buttonSubmitter.animate:after {
  position: absolute;
  content: "";
  width: var(--spinner-width);
  height: var(--spinner-width);
  border: 4px solid var(--text-light);
  border-radius: 50%;
  border-left-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spin ease-in 7s forwards;
}
.newbtnsubmitter.animate:after {
  animation: spin ease-in 12s forwards;
}
.cmntdltbtnsubmitter.animate:after {
  width: var(--spinnercmnt-width);
  height: var(--spinnercmnt-width);
}
.profileupdatebtnsubmitter.animate:after {
  width: var(--spinnerupdateprofile-width);
  height: var(--spinnerupdateprofile-width);
}

/* Keyframe Animations */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3600deg) scale(1);
  }
}
.searchoptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 2rem;
}
.searchoptions button {
  background: transparent;
    border: none;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    padding: 0rem 1rem 0.35rem;
    color: #626060;
}
.searchoptions button i {
  position: relative;
  top: 4px; 
  font-size: 1.3rem;
}
.searchoptions button:hover,
.searchactive {
  background: #d5f3d9;
  border-radius: 2rem;
}
.searchtitle p {
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
  color: #343333;
}

@media (max-width:1050px) {
  .searchoptions{
    padding: 0.5rem;
  }
  .searchoptions button{
    padding: 0rem 0.7rem 0.5rem;
  }
}

.flash-container {
  position: fixed;
  top: 100px;
  left: 250px;
  /* transform: rotate(-90deg); */
  transform-origin: 0 0;
  box-sizing: border-box;
  width: 50%;
  max-width: 250px;
  margin-left: -250px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
}
.flash {
  border-radius: 10px;
  opacity: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash p {
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}

.flash img {
  height: 25px;
}

.flash-success {
  background-color: #a9f5c4;
  border: 1.5px solid #418a5a;
  color: #418a5a;
}

.flash-error {
  background-color: #ffc0c0;
  border: 1.5px solid #c32f08;
  color: #c32f08;
}

.error {
  /* background-color: rgb(255, 105, 105); */
  background-color: #ff7f7f;
  width: 60%;
  margin: 5vh 20% 5vh 20%;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  border-radius: 20px;
  /* border: 2px solid rgb(160, 0, 0); */
  border: 2px solid #ab2400;
  box-shadow: 0 0 10px 0 #ab2400;
}
.error-heading {
  font-size: 2rem;
  font-weight: 600;
}
.error-content {
  color: #ab2400;
  font-size: 1.1rem;
}

.forget-password-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 10%;
}

.forget-password-form .form-group {
  margin-bottom: 20px;
}

.forget-password-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.forget-password-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forget-password-form .proceed-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.forget-password-form .proceed-button:hover {
  background-color: #45a049;
}
.set-password-form {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 10%;
}

.set-password-form .form-group {
  margin-bottom: 20px;
}

.set-password-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.set-password-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.set-password-form .form-group {
  position: relative;
  /* font-size: 1.2rem; */
}

.set-password-form .form-group i {
  position: absolute;
  right: 20px;
  top: 40px;
  font-size: 1rem;
  transform: scale(1.5);
  cursor: pointer;
}

.set-password-form .done-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.set-password-form .done-button:hover {
  background-color: #45a049;
}


/* followers and foolowings in profile */
.followingcontainer,.followercontainer{
  display: none;
}
.followercnt button,.followingscnt button{
  padding: 3px;
  background: none;
  border: none;
  color: #3a3adb;
}
.followercnt,.followingscnt{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followerconatineractive,.followingconatineractive{
  display: block;
    position: fixed;
    z-index: 5;
    background: white;
    margin-top: auto;
    top: 25vh;
    padding: 1rem 0.5rem 2rem;
    border-radius: 2rem;
    height: 60vh;
    width: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 0 0 0 100vw #00000070;
}

@media (max-width:1050px) {
  .followerconatineractive,.followingconatineractive{
    height:65vh;
    top: 21vh;
  }
}

@media (max-width:740px) {
  .followerconatineractive,.followingconatineractive{
    height: 71vh;
    top: 17vh;
  }
}
.btnprofilepopup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(40px);
  border-radius: 1rem;
}
.btnprofilepopup p{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0.6rem;
}
.crossiconpopup{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.crossiconpopup i {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #c9c9c9;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* padding: 0.1rem; */
}
.showuserscontainer{
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}
.profilesubscard{
  display: flex;
  padding: 0.5rem;
  gap: 2rem;
  box-shadow: -2px 4px 6px 0px #e4dddd;
  border-radius: 1rem;


}
.useravatarimg img{
  height: 3.5rem;
  width: 3.5rem;
}
.useravatartitle p{
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;

}
.useravatartitle{
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #545252;
}


.changepwforminput{
  position: relative;
}
.changepwforminput i{
  position: absolute;
  font-size: 1.5rem;
  right: 0.5rem;
  top: 2.25rem;
}


.addbtn{
 display: none;
 transition: all 0.2s ease-in-out;
}
.tagaddbtn{
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background: #00731e;
  cursor: pointer;
  font-weight: 600;
  color: white;
 
}
@media (max-width:950px) {
  .addbtn{
  display: flex;
  justify-content: start;
  padding-left: 18px;
  margin-top: 0.5rem;
  position: absolute;
}
}
