  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@400;500;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{  margin:0; position:relative; } */
main{
  min-height:100vh;
  margin-bottom: 10px;
  margin-top: 10px;
}
header{ min-height:50px; background-color: rgb(247, 248, 248); padding: 30px;
padding-right: 8px;}



/* Trick: */
body {
  position: relative;
  padding-top: 90px;
  margin-bottom: 30px;
}

body::after {
  content: '';
  display: block;
  height: 80px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
 
}

.container1{
 
  margin: 0;
  height: 30px;
  width: 100%;
}

a{
  text-decoration: none;
  /* color: #1a5ff4; */
}
li{
  list-style: none;
}
.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  backdrop-filter: blur(10px);
  
 
}
header.transparent {
  background-color: rgba(0, 0, 0, 0.5); /* Initial transparent background color */
  z-index: 1;
}

header nav {
  position: sticky;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;

}
.logo a{
  text-decoration: none;
}
header .logo a img{
 height: 60px;
 width: 250px;
}
.navlist ul{
  gap: 40px;
  font-family: Noto Sans , sans-serif;
}
.navlist ul li a{
  font-size: 16px;
  color: #94a9c9;
  cursor: pointer;
  display: flex;
  font-size: larger;
  text-decoration: none;
}
.navlist button {
  background-color: #0ea5ea;
  border: none;
  width: 115px;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
  font-size: larger;
  padding: 5px;
}
.navlist ul li a:hover{
  color: #52a9f6 !important;
}

.searchbarjoint{
  display: flex;
  gap: 10px;  
}
.searchform{
  display: flex;
  gap: 5px;
}
.searchform input{
  width: 300px;
  border-radius: 12px;
} 
.searchform button{
  border: none;
  background: transparent;
}
.searchform button i{
  font-size: 35px;
  color: rgb(48, 171, 248);
}
.signinusernavbar button{
  border: none;
  outline: none;
  padding: 8px;
  background: transparent;
}
.signinusernavbar button a{
  text-decoration: none;
  color: #2dce70;
  font-size: 24px;
  font-weight: 500;
}
.signinusernavbar button i{
  position: relative;
  top: 3px;
}



.searchbar i {
  font-size: 30px;
}
.searchbar button {
  background-color: transparent;
}
.searchbtn i{
  color: #6458d5;
}

.footercontainer{
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: space-between;
  padding:10px 24px 10px 10px;
  overflow: hidden;
  position: relative;
 
  /* background-image: url(../images/vecteezy_purple-minimalist-wallpaper-high-quality-4k-hdr_30698557.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  
 
}
.demo-bg-footer{
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.comany-data ,.links{
  z-index: 1;
}
.footercontainer .links{
  display: flex;
  gap: 8px;
  padding: 8px;
}
.list-social-media{
  display: flex;
  gap: 5px;
}
.insidelinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.insidelinks h6{
  font-size: 20px;
  text-align: center;
  color: #fad104;
}
.insidelinks a{
  text-decoration: none;
  font-size: 18px;
  color: #000000;
}

.logofooter{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}
.authorlistsocialjoint p{
  font-size: 22px;
  color: #fcfcfc;
  font-weight: 400;
  margin-bottom: 0;
}
.logofooter p{
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 18px;

}
.list-social-media{
  display: flex;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
}
.list-social-media a{
text-decoration: none;
}
.list-social-media a i{
  font-size: 25px;
  color: rgb(230, 226, 19);
}
.logofooter img{
height: 80px;
width: 250px;
}
.copyrightcontent{
font-weight: 450;
font-size: 17px;
color: #ffffff;
}
.copyrightlogo{
  font-size: 22px;
  position: relative;
  top: 2px;
  font-weight: 500;
}

.authcontainer{
    display: flex;
        
  }
  .registercontainer,.logincontainer{
      flex: 1.75;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 14px;
      
     
      
    }
  .existingusercontainer,.newusercontainer{
      flex: 1.25  ;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(to bottom right,rgb(33, 207, 186),rgb(21, 174, 130),rgb(153, 233, 99));
      border-radius: 45px;
    }
    .existinguser p,.newuser p{
      text-align: center;
      font-weight: 500;
      font-size: 23px;
    }
    
    .existinguser h1,.newuser h1{
      text-align: center;
      font-weight: 900;
      font-size: 48px;
     
    }
    .existingsigninbtn,.newsignupbtn{
      display: flex;
      justify-content: center;
  
    }
    .existingsigninbtn button,.newsignupbtn button{
      padding: 8px;
      font-weight: 500;
      font-size: 22px;
      border: none;
      border-radius: 16px;
      width: 200px;
      cursor: pointer;
      background: transparent;
      border: 2px solid white;
    }
    .desc{
      margin-top: 15px;
      margin-bottom: 40px;
    }

    .connection{
      font-size: 17px;
      font-weight: 400;
      color: rgb(118, 120, 120);
      margin: 8px;
     }
     .logo{
      display: flex;
      gap: 6px;
      justify-content: center;
     }
     
     .logowrapper img{
      height: 45px;
     
    }
    .githublogo img{
      height: 50px;
    }
    .googlelogo{
      margin-top: 2px;
    }
      
  
.registerform,.loginform{
  position: relative;
  display: flex;
  flex-direction: column;
  
  margin-top: 25px;
}
.registercontent{
  display: flex;
  flex-direction: column  ;
  align-items: center;
  gap: 1px;
  padding-right: 0;
}
.registerbox,.loginbox{
  display: flex;
  gap: 10px;
  margin: 10px;
  margin-left: 0;
}
.registerbox i,.loginbox i{
  font-size: 22px;
  margin-top: 9px;
}
.registerboxinput,.loginboxinput{
  display: flex;
  position: relative;
}
.registerboxinput i,.loginboxinput i{
  position: absolute;
  right: 8px;
  cursor: pointer;

}
.registerinput,.logininput{
  border-radius: 12px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(218, 244, 236);
  font-size: 16px;
  padding-right: 42px;
  width: 265px;
}
.emailinput{
  padding-right: 12px;
}

.registerinput::placeholder,.logininput::placeholder{
  font-size: 18px;
  font-weight: 400;
}
.login_check{
  text-align: right;
  padding-right: 8px;
 margin-bottom: 30px;
 margin-top: 6px;
}
.login_check a{
  text-decoration: none;
  font-size: 19px;
  }


.register_btn,.login_btn{
  display: flex;
  justify-content: center;
  
  
}
.register_btn{
  margin-top: 18px;
}
.registerbtn,.loginbtn{
  background-color: rgb(7, 184, 45);
  border:none;
  padding: 7px 32px;
  margin: 2px;
  border-radius: 18px;
  color: rgb(247, 247, 247);
  font-size: 19px;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
  


}


.registertitle,.logintitle{
  text-align: center;
  margin-bottom: 10px;
  color: rgb(1, 173, 44);
  font-size: 45px;
}
.logintitle{
  font-size: 60px;
}



















/*        new form     */

  .compose{
      text-align: center;
      padding: 30px;
      font-size: 45px;
      color: #03bb0d;
  }
  #newform{
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100vw;
  margin-bottom: 50px;
  }
  .newfrmcontent{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  .newfrmtitle{
      border: none;
      outline: none;
      width:700px;
      padding: 30px 15px;
      padding-left: 30px;
     font-size: 30px;
     background:  #d8fff3;
     border-radius: 25px;
      
  }
  .newfrmtitle::placeholder{
      font-size: 40px;
     
  
  }
  .newfrmpost{
      width: 700px;
      border: none;
      outline: none;
      padding:30px 25px;
      font-size: 25px;
      border-radius: 25px;
      background: #edfbf6;
  
  }
  .newfrmpost::placeholder{
      font-size: 40px;
     
  
  }
  .tagtitle{
      font-size: 30px;
      padding-top: 10px;
  }
  .tagtitle i{
      color: #fc8626;
     
  }
  
  #taginput{
      width: 700px;
      padding: 20px ;
      margin: 15px;
      margin-left: 0;
      border: none;
      outline: none;
      background-color: #A6F6FF;
      border-radius: 25px;
      font-size: 20px;
     
      
  }
  #taginput::placeholder{
      font-size: 20px;
  }
  
  #tagarray{
      padding-left: 0;
      width: 700px;
  }
  #listcontainer{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
      margin-right: 0;
  }
  .taglist{
      display: flex;
      font-size: 23px;
      background-color: #6499E9;
      padding: 10px;
      
      border-radius: 12px;
  }
  .tagicon{
    margin-top: 3px;
    margin-left: 8px;
    background-color: #fc8626;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25px;
  }
  .tagicon i{
      color: #080808;
      cursor: pointer;
  
  }
  
  .rmvbtn{
     display: flex;
     justify-content: end;
     padding-right: 18px;
  
  }
  .rmvbtn button{
      padding: 12px;
      font-size: 20px;
      border-radius: 15px;
      border: none;
      background: #89e4aa;
      cursor: pointer;
  }
  .filepicker{
      display: flex;
      flex-direction: column;
  }
  .newfrmlabel{
      font-size: 30px;
      display: flex;
      gap: 8px;
      margin-bottom: 10px;
  }
  .newfrmlabel i{
      color: #9c07f9;
  }
  .imageinput{
  width: 700px;
  font-size: 200px;
  border: none;
  outline: none;
  
  }
  .newfrmbtn{
      display: flex;
      justify-content: center;
     
  }
  .newfrmbtn button{
     width: 600px;
      border:none;
      padding: 12px;
      font-size: 25px;
      border-radius: 15px;
      background: #41a867;
      cursor: pointer;
  
  }
  .newfrmbtn button:hover{
      background: #0fbb4e;   
  }
  
  

  /* Add your existing CSS styles and then include the following */

.profile-container {
  display: flex;
}

.profile-avatar img {
  max-width: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 20px;
}

.follower-info {
  display: flex;
  margin-top: 10px;
}

.follow-button {
  margin-top: 10px;
}

.about-me {
  margin-top: 20px;
}

.posts-section {
  margin-top: 20px;
}

.posts-section .post {
  margin-bottom: 10px;
}

.user-actions {
  margin-top: 20px;
}

.user-actions button {
  display: block;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.user-actions a {
  color: #fff;
  text-decoration: none;
}

.editprofileformcontainer{
  display: flex;
  justify-content: center;
  /* height: 100vh;
  align-items: center; */
  
}
#updateprofileform {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 20px;
}

#updateprofileform label {
 
  margin-bottom: 8px;
}

#updateprofileform input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#updateprofileform button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#updateprofileform span {
  color: red;
  display: none;
  margin-top: 8px;
}





/* profile page */

.avatar img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-items: center;
  border: solid black 0.2px;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  left: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.profilecard{
display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;
width: 100%;
}
.profiledesc{
  display: flex;
 
  gap: 12px;
}
.avatar{

  padding-right: 0;
}

.authordesc{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.authordetails{
  display: flex;
  justify-content:space-between   ;
  gap: 60px;
}
.editprofilebtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 250px;
}
.username{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}
.tagline{
  font-size: 18px;
  font-weight: 400;
  color: rgb(71, 74, 71);

}
.editprofilebtn button{
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: rgb(36, 215, 155);
  border-radius: 30px;
  padding:5px 15px;
  color: rgb(69, 70, 69);
 
}
.editprofilebtn button i{
 position: relative;
 top: 3px;
 margin-right: 4px;

}
.subscription{
  display: flex;
  justify-content: space-between;
}
.subscnt{
  display: flex;
  gap: 40px;
}
.followbtn{
  position: relative;
 right: 500px;
}
.followercnt h4,.followingscnt h4{
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
}
.followercnt p,.followingscnt p{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: rgb(85, 88, 85);
}
.followbtn button{
  font-size: 26px;
  padding: 0px 15px;
  padding-bottom: 4px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgb(47, 123, 229);
  color: rgb(248, 250, 251);
  margin-bottom: 5px;
}
.followbtn button i{
  position: relative;
  top: 3px;
  margin-right: 4px;

}
.unfollow button{
  background-color: rgb(204, 207, 210);
  border: 2px solid  rgb(47, 123, 229);
  color:  rgb(47, 123, 229);
}
.profiledetails{
  display: flex;
  justify-content: space-around;
  border:1pt solid black;
  padding:5px 10px;
  border-radius: 12px;
  margin: 2px 8px;
}
.social {
  display: flex;
  gap: 12px;
}
.social a{
  text-decoration: none;
  
}
.social a i{
  
  font-size: 32px;
  color: rgb(86, 85, 85);
}
.location,.joiningdate{
  display: flex;
  padding-top: 4px;
}
.location i,.joiningdate i    {
  font-size: 25px;
  color: rgb(85, 88, 85);
  margin-right: 5px;
 
}
.location p ,.joiningdate p{
  font-size: 20px;
  font-weight: 400px;
  position: relative;
  top: 4px;
  color: rgb(122, 124, 122);
}

.authorsposts{
  margin-top: 12px;
}
.aboutjoint{
  display: flex;
  align-items: stretch;
  width: 100%;
}
.aboutjoint .about{
  flex: 1;
 
}
.abtauthor{
  border: 0.3px solid black;
  padding: 6px 14px;
  margin: 10px;
  border-radius: 8px;
  margin-bottom: 0;
  
}
.abtauthor h3{
  text-align: center;
}
.abtauthor p{
  text-align: justify;
  text-align: center;
}
#notupdate{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(98, 98, 98);

}
.aboutjoint .posts{
  flex:2;
  border: 0.3px solid black;
  margin: 10px;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 0;
}
.aboutjoint .posts .posttitle{
  text-align: center;
 
}
.nopost{
  text-align: center;
  font-size: 54px;
  font-weight: 200;
  color: rgb(117, 117, 115);
}
.postconatiner{
 display: flex;
 flex-direction: column;
 
}
.eachpost{
 display: flex;
 justify-content: space-evenly;
 /* border: 0.3px solid black; */
 padding: 4px 8px;
 border-radius: 8px;
 margin: 8px;
}
.eachpost h3{
 margin: 0;
} 
.eachpost p{
 font-size: 20px;
 font-weight: 400;
 position: relative;
 top: 3px;
}
.eachpost a{
 text-decoration: none;
 color: rgb(15, 137, 231);
}
.aboutjoint .about{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}
.profilecomposebtn{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  background-color: rgb(9, 245, 194);
  font-size: 22px;
  font-weight: 500;
  color: rgb(78, 80, 80);
}
.profileoptions{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 80px;
 
}
.profileoptions a{
  text-decoration: none;
  color: rgb(91, 92, 93);
  font-size: 25px;
  font-weight: 400;
}
.hello{
  width: 100%;    
}
.profileoptions .hello{
 background: linear-gradient(to bottom right,rgb(175, 219, 146),rgb(99, 240, 224),rgb(104, 206, 177));
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  
}
.profilelogout{
  color: rgb(245, 92, 92);
}
.profilelogout i{
  position: relative;
  top: 4px;
}
.deleteacnt{
  width: 100%;
}
.deleteacnt button{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 4, 4);
  background-color: rgb(223, 248, 248);
  
}
.deleteacnt button i{
  position: relative;
  top: 2px;
  margin-right: 4px;
}



/* change password form */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.form-container  label {
  display: block;
  margin-bottom: 8px;
}

.form-container  input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form-container span.error-message {
  color: red;
  display: none;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}


/* post card profile card tag card */

.homepostcontainer{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 25px;
  padding: 20px  250px;

}

.postcard{
display: flex;
flex-direction: column;
gap: 5px;
border: 0.4px solid rgb(199, 198, 198);
border-radius: 12px;
padding: 8px 22px;
padding-bottom: 4px;
background:linear-gradient(to bottom right,rgb(198, 245, 237),rgb(196, 254, 218),rgb(245, 234, 209),rgb(253, 251, 214),rgb(236, 207, 252)) ;

}
.postcard:hover{
  box-shadow:  5px  5px rgb(206, 204, 204);
}
.postauthor{
  display: flex;
  gap: 10px;
  padding-left: 6px;
}
.postauthorimg img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}
.postauthornamejoint a{
  text-decoration: none;
}

.postauthornamejoint .authorname{
  margin: 0;
  margin-top: 3px;
  font-size: 18px;
  color: black;
  font-weight: 500;

}
.postauthornamejoint .date{
  margin: 0;
  margin-left: 3px;
  position: relative;
font-size: 14px;
font-weight: 400;
  
}
.postdetails{
  display: flex;
  gap: 8px;
  margin: 8px 10px;
}
.postthumbnail img{
  height: 130px;
  width: 240px;
  border-radius: 15px;

}
.postcard a{
  text-decoration: none;
}
.titledetailsjoint h3{
  font-size: 30px;
  text-align: justify;
  color: black;
}

.titledetailsjoint p{
  font-size: 18px;
  line-height: normal;
  color: rgb(108, 110, 109);
  font-weight: 400;
}
.postoptions{
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
}
.postimpressions{
  display: flex;
  gap: 14px;
}
.postimpressions p{
  font-size: 18px;
}
.postimpressions i{
  position: relative;
  top: 3px;
  font-size: 20px;
}
.cardbkmrk button{
  position: relative;
  right: 25px;
  border: none;
  background: transparent;
} 
.cardbkmrk button i{
  font-size: 28px;
}
.profilecardsearch,.tagcardsearch{
display: flex;
gap: 10px;
border: 1px solid black;
padding: 8px;
border-radius: 12px;

}
.profilecardsearch .avatarimg img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.profilecardsearch .avatartitle a{
  text-decoration: none;
}
.profilecardsearch .avatartitle h4{
  position: relative;
  top: 3px;
  color: rgb(62, 61, 61);
}
.tagcardsearch {
 padding-top: 5px;
}
.tagcardsearch p{
 margin: 0;
}
.tagcardsearch i{
  position: relative;
  top: 3px;
}
.tagcardsearch a{
  text-decoration: none;
  font-size: 25px;
}

.bookmarkpagetitle,.nopostsearchpage,.tagsearchpage,.userprofilesearchpage,.allsearchpage,.bytagsearch{
  text-align: center;
  margin: 8px;
  color: #43f58d;
}


