<% layout('layouts/boilerplate') %>

<div class="editprofileformcontainer">
    
  <form  id="updateprofileform" action="/user/<%=user._id%>/edit" method="post" enctype="multipart/form-data">
    <div class="updateprofileforminputs">
      <label for="avatar">Profile Picture</label>
      <input type="file" name="avatar" id="avatar">
    </div>
    <div class="updateprofileforminputs">
      <label for="tagline">Profile Tagline</label>
      <input type="text" id="tagline" name="tagline">
    </div>
    <div class="updateprofileforminputs updateprofilegetlocation">
      <label for="location">Location</label>
      <input type="text" name="location" id="location" >
      <button type="button" onclick="getlocation()">Get Location</button>
    </div>
    <div class="updateprofileforminputs">
      <label for="description">About You</label>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <div class="updateprofileforminputs">
      <label for="instagramurl">Instagram Profile</label>
      <input type="text" name="instagramurl" id="instagramurl">
      <span id="instaMismatch">Check the Instagram URL, please.</span>
    </div>
    <div class="updateprofileforminputs">
      <label for="linkedinurl">LinkedIn Profile</label>
      <input type="text" name="linkedinurl" id="linkedinurl">
      <span id="linkedinMismatch">Check the LinkedIn URL, please.</span>
    </div>
    <div class="updateprofileforminputs">
      <label for="githuburl">GitHub Profile</label>
      <input type="text" name="githuburl" id="githuburl">
      <span id="githubMismatch">Check the GitHub URL, please.</span>
    </div>
    <button class="update-button buttonSubmitter profileupdatebtnsubmitter">Update</button>
  </form>
</div>

  <script>
    
    document.getElementById('updateprofileform').addEventListener('submit',function (event){
        event.preventDefault();
        validateinputfields();
    })
    function validateinputfields(){
        const instagramUrl = document.getElementById('instagramurl').value;
        const linkedinurl = document.getElementById('linkedinurl').value;
        const githuburl = document.getElementById('githuburl').value;
        const mismatchinsta = document.getElementById('instaMismatch');
        const mismatchlinkedin = document.getElementById('linkedinMismatch');
        const mismatchgithub = document.getElementById('githubMismatch');

if(instagramUrl && !instagramUrl.startsWith('https://instagram.com/')){
    setTimeout(()=>{
        mismatchinsta.style.display = 'none'
        },2500)
        mismatchinsta.style.display = 'inline';
}else if(linkedinurl && !linkedinurl.startsWith('https://www.linkedin.com/')){
    setTimeout(()=>{
        mismatchlinkedin.style.display = 'none'
        },2500)
        mismatchlinkedin.style.display = 'inline';
}else if(githuburl && !githuburl.startsWith('https://github.com/')){
    setTimeout(()=>{
        mismatchgithub.style.display = 'none'
        },2500)
        mismatchgithub.style.display = 'inline';
}else{
    document.getElementById('updateprofileform').submit();
}


    }
async function getlocation(){
        const location = document.getElementById('location')
        const url='https://ipinfo.io/json?token=ba52d9e4eea234'
        const response =await fetch(url);
        const data=await response.json();
        const showlocation=data.city+','+data.region+','+data.country;
        location.value=showlocation;
        }


        // animation button 
var animateButton = function (e) {
    e.preventDefault;
    //reset animation
    e.target.classList.remove("animate");
    e.target.innerHTML = "";

    e.target.classList.add("animate");

    e.target.classList.add("animate");
    setTimeout(function () {
      e.target.classList.remove("animate");
    }, 200000);
  };

  var classname = document.getElementsByClassName("buttonSubmitter");

  for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener("click", animateButton, false);
  }

  </script>