<% layout('layouts/boilerplate') %>
<div class="forgotcontainer">
  <div class="login">
  <form class="loginform" action="/user/forgot" method="post">
    <h1 class="logintitle">Forgot Password</h1>
    <div class="logincontent">
      <div class="loginbox">
        <i class="ri-mail-line"></i>
        <div class="loginboxinput">
          <input type="email" id="email" class="logininput" name="email" placeholder=" " required>
          <label class="loginlabel" for="email">email</label>
        </div>
      </div>
      <div class="loginbox">
        <i class="ri-user-3-line loginicon"></i>
        <div class="loginboxinput">
          <input type="password" id="username" name="username"  class="logininput" placeholder=" "  required>
          <label class="loginlabel" for="username">username</label>
          
        </div>
      </div>
    </div>
    <div class="forgotbtn">
      <button class="forgotbutton">
        proceed
      </button>
    </div>
  
  </form>
  </div>

 
</div>
