<% layout('layouts/boilerplate') %>
<div class="form-container">
    <form id="changePasswordForm" class="password-form" action="/user/<%=user._id%>/changepassword" method="post">
      <h1>Change Password</h1>

      <div>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter your old password" required>
      </div>

      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="New password" required>
      </div>

      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required>
      </div>

      <span class="error-message" id="passwordMismatch">New and confirm passwords do not match!</span>
      <span class="error-message" id="passwordMismatcholdnew">Old and new passwords should not be the same!</span>

      <button type="button" onclick="validatePasswords()">Done</button>
    </form>
  </div>
<script>
  document.getElementById('changePasswordForm').addEventListener('submit', function (event) {
    event.preventDefault();
    validatePasswords();
  });

  function validatePasswords() {
    var oldPassword= document.getElementById('oldPassword').value;
    var newPassword = document.getElementById('newPassword').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    var mismatchSpan = document.getElementById('passwordMismatch');
    var mismatchSpanoldnew = document.getElementById('passwordMismatcholdnew');

    if (newPassword !== confirmPassword) {
      setTimeout(()=>{
        mismatchSpan.style.display = 'none'
      },2500)
      mismatchSpan.style.display = 'inline';
    }else if(oldPassword ===newPassword){
      setTimeout(()=>{
        mismatchSpanoldnew.style.display = 'none'
      },2500)
      mismatchSpanoldnew.style.display = 'inline';
    }
     else {
      mismatchSpan.style.display = 'none';
      // Passwords match, you can proceed with form submission or other actions
      document.getElementById('changePasswordForm').submit();
    }
  }
</script>