<% layout('layouts/boilerplate') %>
<div class="forgotcontainer">
  <div class="login">
  <form class="loginform" id="setPasswordForm" action="/user/setpassword?userid=<%=user._id%>"  method="post">
    <h1 class="logintitle">Set New Password</h1>
    <div class="logincontent">
      <div class="loginbox">
        <i class="ri-mail-line"></i>
        <div class="loginboxinput">
          <input type="password" id="newPassword" class="logininput" name="newPassword" placeholder=" " required>
          <label class="loginlabel"  for="newPassword">New Password</label>
          <i class="ri-eye-off-line login_eye" id="logineye"></i>
        </div>
      </div>
      <div class="loginbox">
        <i class="ri-user-3-line loginicon"></i>
        <div class="loginboxinput">
          <input type="password" id="confirmPassword" name="confirmPassword"  class="logininput" placeholder=" "  required>
          <label class="loginlabel"  for="confirmPassword">Confirm Password</label>
          <i class="ri-eye-off-line login_eye" id="cnflogineye"></i>
          
        </div>
      </div>
    </div>
    <span id="passwordMismatch" style="color: rgb(19, 18, 18); display: none;">new and confirm  Passwords do not match!</span>

    <div class="setpwbtn">
      <button class="forgotbutton" type="submit" > Done</button>
    </div>
  
  </form>
  </div>

 
</div>

  <script>
    document.getElementById('setPasswordForm').addEventListener('submit', function (event) {
      event.preventDefault();
      validatePasswords();
    });
    
    function show(input,iconeye){
    iconeye.addEventListener('click',()=>{
      if(input.type==='password'){
        input.type='text';
        iconeye.classList.add('ri-eye-line');
        iconeye.classList.remove('ri-eye-off-line');
      }else{
        input.type='password';
        iconeye.classList.remove('ri-eye-line');
        iconeye.classList.add('ri-eye-off-line');
      }
    })
  }

  
    const input=document.getElementById('newPassword');
    const cnfinput=document.getElementById('confirmPassword');
    const iconeye=document.getElementById('logineye');
    const cnficoneye=document.getElementById('cnflogineye');
   

    show(input,iconeye);
    show(cnfinput,cnficoneye);
    
  
    function validatePasswords() {
  
      var newPassword = document.getElementById('newPassword').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
      var mismatchSpan = document.getElementById('passwordMismatch');
     
  
      if (newPassword !== confirmPassword) {
        setTimeout(()=>{
          mismatchSpan.style.display = 'none'
        },2500)
        mismatchSpan.style.display = 'inline';
      }
       else {
       
        // Passwords match, you can proceed with form submission or other actions
        document.getElementById('setPasswordForm').submit();
      }
    }
  </script>