<% layout('layouts/boilerplate') %>
<h1>Set New Password</h1>
<form id="setPasswordForm" action="/user/setpassword" method="post">
    <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword"   placeholder="new password" required>
      </div>
      <div>
        
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword"   name="confirmPassword"  placeholder="confirm new  password" required>
      
      </div>
      
        
      <span id="passwordMismatch" style="color: red; display: none;">new and confirm  Passwords do not match!</span>
     <input type="hidden" name="userid" value="<%=user._id%>">
        <button type="submit" > Done</button>
  </form>

  <script>
    document.getElementById('setPasswordForm').addEventListener('submit', function (event) {
      event.preventDefault();
      validatePasswords();
    });
  
    function validatePasswords() {
  
      var newPassword = document.getElementById('newPassword').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
      var mismatchSpan = document.getElementById('passwordMismatch');
     
  
      if (newPassword !== confirmPassword) {
        setTimeout(()=>{
          mismatchSpan.style.display = 'none'
        },2500)
        mismatchSpan.style.display = 'inline';
      }
       else {
       
        // Passwords match, you can proceed with form submission or other actions
        document.getElementById('setPasswordForm').submit();
      }
    }
  </script>