<% layout('layouts/boilerplate') %>



<div class="set-password-form">
  <h2>Set New Password</h2>
  <form id="setPasswordForm" action="/user/setpassword?userid=<%=user._id%>"  method="post">
      <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required>
          <i class="ri-eye-off-line login_eye" id="logineye"></i>
      </div>
      <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required>
          <i class="ri-eye-off-line login_eye" id="cnflogineye"></i>
      </div>
      <span id="passwordMismatch" style="color: rgb(220, 12, 12); display: none; margin-bottom: 5px;">new and confirm  Passwords do not match!</span>
      <button type="submit" class="done-button">Done</button>
  </form>
</div>  

  <script>
    document.getElementById('setPasswordForm').addEventListener('submit', function (event) {
      event.preventDefault();
      validatePasswords();
    });
    
    function show(input,iconeye){
    iconeye.addEventListener('click',()=>{
      if(input.type==='password'){
        input.type='text';
        iconeye.classList.add('ri-eye-line');
        iconeye.classList.remove('ri-eye-off-line');
      }else{
        input.type='password';
        iconeye.classList.remove('ri-eye-line');
        iconeye.classList.add('ri-eye-off-line');
      }
    })
  }

  
    const input=document.getElementById('newPassword');
    const cnfinput=document.getElementById('confirmPassword');
    const iconeye=document.getElementById('logineye');
    const cnficoneye=document.getElementById('cnflogineye');
   

    show(input,iconeye);
    show(cnfinput,cnficoneye);
    
  
    function validatePasswords() {
  
      var newPassword = document.getElementById('newPassword').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
      var mismatchSpan = document.getElementById('passwordMismatch');
     
  
      if (newPassword !== confirmPassword) {
        setTimeout(()=>{
          mismatchSpan.style.display = 'none'
        },3000)
        mismatchSpan.style.display = 'inline';
      }
       else {
       
        // Passwords match, you can proceed with form submission or other actions
        document.getElementById('setPasswordForm').submit();
      }
    }
  </script>